/* https://coolors.co/6ccff6-51a0bd-367084-001011-0f1d1f-1e2a2d-3b4449-757780-fffffc
 */
:root {
  --backgroundcolor: #001011;
  --maincolor: #367084;
  --headercolor: #000;
  --buttoncolor: #0F1D1F;
  --inputboxcolor: #000;
  --ingredientcolor: #000;
  --suggestioncolor: #000;
  --ingredientbuttoncolor: #0F1D1F;
  --hoverbuttoncolor: #51A0BD;
  --footercolor: #001011;
  --bordercolor: #ffffff;
  --textcolor: #ffffff;
}

/*For those who might be bothered by the animation*/
@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

html,
body {
  background-color: var(--backgroundcolor);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--textcolor);
  align-items: center;
  margin: auto;
  width: 100%;
}

header {
  margin: 0;
  width: 100%;
  background-color: var(--headercolor);
  display: flex;
  justify-content: space-between;
  padding: 0;
  position: static;
  top: 0;
  height: 70px;
  border: 0;
}

#hcontainer h2 {
  border: 0;
}

header img {
  width: max(46px, 4vw);
  height: 46px;
  padding: 0.5rem;
  margin-left: 100%;
}

nav {
  width: 75%;
  max-width: 300px;
  height: 70px;
  margin-right: 5%;
}

nav>ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%;
}

nav>ul>li {
  color: var(--textcolor);
  margin: 0 0.2rem;
  padding: 0.5rem;
  display: block;
  border: none solid var(--bordercolor);
  border-radius: 10px;
}

nav>ul>li:hover {
  background-color: var(--hoverbuttoncolor);
  cursor: pointer;
}

li>a {
  color: inherit;
  text-decoration: none;
  padding: 0.5rem;
}

#hcontainer {
  background-color: var(--headercolor);
  width: 100%;
  padding-bottom: 2rem;
}

h1,
h2 {
  margin: 0;
  padding-bottom: 0.5rem;
}

.home {
  background-color: var(--maincolor);
  padding: 4% 6%;
  width: fit-content;
  margin: auto;
  max-width: 80vw;
}

main {
  background-color: var(--maincolor);
  padding: 4% 6%;
  margin: auto 0;

}

#result {
  padding: 1rem;
  border: 1px;
  border-color: var(--bordercolor);
  background-color: var(--inputboxcolor);
  line-height: 2.5em;

}

#addbtn,
#submitbtn {
  cursor: pointer;
  width: 6rem;
  height: 3rem;
  display: flex 1 2;
  margin: 1%;
  margin-top: 3%;
  border-radius: 10px;
  /*align button horizontally idk wht its vertical*/
  vertical-align: top;

}

button {
  color: var(--textcolor);
  cursor: pointer;
  width: 6rem;
  border-radius: 10px;
  height: 2rem;
  border-color: var(--bordercolor);
  background-color: var(--buttoncolor);
}

button:hover {
  background-color: var(--hoverbuttoncolor);
}

/* get element by name */
div[name="divname"] {
  max-width: 752px;
  margin: 1rem 0 2rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}

input {
  border-radius: 10px;
  width: 39rem;
  height: 2rem;
}

.deletebtn {
  margin-top: 0.2rem;
}

/* button to show or hide ingredient
 */
.collapsebox {
  border-radius: 0px;
  display: block;
  background-color: var(--ingredientbuttoncolor);
  width: 776px;
  margin-top: 0.4rem;
}

/* box containing the list of ingredient will start of hidden
 */
.collapse {
  display: none;
  width: 776px;
  background-color: var(--ingredientcolor);
  padding: 1rem;
  line-height: 1.5;
}

#suggestions {
  border: 0px;
  padding: 3px;
  text-align: justify;
  border-color: var(--bordercolor);
  background-color: var(--suggestioncolor);
  width: 776px;
}

#foot {
  padding: 2rem 2rem;
  background-color: var(--footercolor);
  /* border-top: solid; */
}

/* https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */
#topbutton {
  /* Hidden by default */
  bottom: 1%;
  right: 1%;
  display: none;
  position: fixed;
  background-color: var(--buttoncolor);
  /* Set a background color */
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 2px 10px;
  /* Some padding */
  border-radius: 10px;
  /* Rounded corners */
  font-size: 28px;
  /* Increase font size */
  outline: none;
  width: 3rem;
  height: 3rem;
  margin: 1.3%;
}

#topbutton:hover {
  background-color: var(--hoverbuttoncolor);
  /* Add a dark-grey background on hover */

}

#githublink {
  color: var(--maincolor);
  padding: 0.5rem;
  border: none solid var(--bordercolor);
  border-radius: 10px;
}

#githublink:hover {
  background-color: var(--hoverbuttoncolor);
  color: var(--footercolor);
  cursor: pointer;
}

/* skincare tips page */

.skincaretips {
  text-align: left;
  width: 60%;
  word-wrap: break-word;
  margin: auto;
}

.skincaretips h1 {
  border: 0;
  font-size: 32px;
}

.skincaretips h1,
h2 {
  border: 1px solid var(--textcolor);
  padding: 0.3rem;
  text-align: center;
  margin: 3rem 0;
}

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gridelements {
  max-width: 100px;
  padding: 20px;
  text-align: center;
}

.gridsize {
  flex-grow: 1;
  padding: 20px;
  text-align: left;
  width: 33%;
}


.routine {
  border-bottom: 1px solid var(--textcolor);
}

#skincaretipsnav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: static;
  top: 70px;
}

#skincaretipsnav nav {
  padding: 10px;
  width: 50%;
  max-width: 90vw;
  height: fit-content;
  margin: 0 auto;
  background-color: var(--maincolor);
}